#Firstnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#Firstnav li {
    list-style: none;
}
#Firstnav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 20px;
}
#Firstnav img {
    width: 50px;
}
#Firstnav #logo {
    width: 80px;
    margin-top: -10px;
}