/* First page for beginin form completion */
.formChat .beginin svg {
  height: 50vh !important;
  /* width: fit-content !important; */
}
.formChat .beginin img {
  max-height: 50px;
}
.formChat .beginin {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
  justify-content: space-between;
  /* display: none; */
}
.formChat .beginin h3 {
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
  margin-bottom: 0;
}
.formChat .beginin h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 0;
}
.formChat .beginin .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5vh auto;
  width: 80vw;
}

/* Form questions section */
.fadeInBottom {
  animation: fadeInBottom 1s ease forwards;
  opacity: 0;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.delay-05 {
  animation-delay: 0.5s;
}
.delay-1 {
  animation-delay: 1s;
}
.delay-15 {
  animation-delay: 1.5s;
}

.formChat {
  min-height: 100vh;
  margin-top: 5rem;
}
.formChat .questions {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  min-height: 90vh;
  margin-bottom: 100px;
  margin-top: 8rem;
}

.formChat .ask,
.formChat .response,
.formChat .inputField {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  column-gap: 20px;
  bottom: 4rem;
}
.formChat .ask {
  justify-content: flex-start;
}
.formChat .response {
  justify-content: flex-end;
}

/* Navbar section */
.formChat .questions .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formChat .questions .nav h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
}
.formChat .questions .nav img {
  height: 40px;
}

/* Question section */
.formChat .ask {
  background-color: rgb(21 20 26);
  border-radius: 0 15px 15px 15px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 47%);
  width: fit-content;
  background: linear-gradient(rgb(21 20 26), rgb(21 20 26)) padding-box,
    linear-gradient(315deg, #874ff5 0%, #2c60f5 100%) border-box !important;
  border: 1px solid transparent !important;
  margin: 15px 0;
}
.formChat .ask p {
  padding: 15px;
  font-size: 1.1rem;
}

/* Response section */
.formChat .response {
  background: linear-gradient(315deg, #874ff5 0%, #2c60f5 100%);
  width: fit-content;
  float: right;
  margin: 15px 0 15px auto;
  border-radius: 15px 0 15px 15px;

  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
.formChat .response div {
  padding: 15px;
  font-size: 1.1rem;
  display: flex;
}
.formChat .response p:focus-visible {
  outline: none;
}
.following-response {
  margin-top: -10px !important;
}

/* Send respopnse section */
.formChat .inputField {
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  border-radius: 15px 15px 0 0;
  background-color: rgba(15, 15, 15, 0.432);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0 -10px 10px rgb(0 0 0 / 20%);
}
.formChat .inputField .btn img {
  height: 50px;
  width: auto;
}
.formChat .inputField .btn {
  padding: 0;
  margin-left: 1rem;
}
.formChat .inputField .response-input input {
  border-radius: 15px;
  padding: 15px;
  background: rgb(21 20 26);
  color: white;
  border: solid 1px rgb(35 35 35);
  height: 21px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 47%);
  width: 45vw;
  transition: 0.5s ease;
}
.formChat .inputField .response-input input:focus-visible {
  background: linear-gradient(rgb(21 20 26), rgb(21 20 26)) padding-box,
    linear-gradient(315deg, #874ff5 0%, #2c60f5 100%) border-box !important;
  border: 2px solid transparent !important;
  outline: none;
  /* transform: translate(-1px, -1px); */
  margin: -1px -1px -1px 0;
  /* width: 75vw; */
  transition: all 0.5s ease;
}
.formChat .inputField .response-input {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex !important;
}
.checkbox-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.buttons-skip-form {
  bottom: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #110f16;
}
.buttons-skip-form > button {
  /* padding: 1rem; */
  color: rgb(180, 180, 180);
  background-color: #110f16;
  border: none;
  font-size: 1rem;
}
.btn-back {
  background-color: transparent;
  border: none;
}
.switch-yes-no {
  border-radius: 15px;
  padding: 15px;
  background: rgb(21 20 26);
  color: white;
  border: solid 1px rgb(35 35 35);
  height: 21px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 47%);
  width: 45vw;
  transition: 0.5s ease;
}
