#Choice {
    width: 80vw;
    max-width: 500px;
    height: 90vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Choice img {
    background: rgba(95, 95, 95, 0.1);
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    border-radius: 100%;
    padding: 15px;
}

#Choice h1 {
    margin: 0;
}
#Choice p {
    opacity: .4;
    margin: 10px 0 0 0;
}
#Choice h4 {
    text-shadow: 0 1px 5px black;
}

#Choice .Choice-top img:hover {
    transform: scale(1.1);
}
#Choice .Choice-top {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}
#Choice .Choice-top img {
    height: 100px;
    transition: .5s;
}
#Choice .Choice-bot {
    margin: auto;
}
#Choice .Choice-bot img {
    height: 180px;
}