#hero-container {
    position: relative;
}

.hero {
    min-height: 90vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 10%;
    color: white;
    background: linear-gradient(315deg, #20bf5590 0%, #01baef90 74%);
    background-image: linear-gradient(315deg, #36096d90 0%, #37d5d690 74%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 20px black;
    margin-bottom: 50px;
}

.hero .catchPhrase {
    text-shadow: 0 0 6px #0000008c;
    cursor: pointer;
}
.hero .btn {
    position: absolute;
    bottom: 70px;
}

.arrow-animated {
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.arrow-animated img {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 0;
    transform: translateX(-50%);
    animation: arrowanimation 3s ease infinite;
}
.arrow-animated .arrow1 {
    bottom: 20px;
    animation-delay: .1s;
}

@keyframes arrowanimation {
    0%, 60% {transform: translate(-50%, 0);}
    30% {transform: translate(-50%, 10px)}
}

#hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* About App section */
.aboutApp p {
    text-align: justify;
    font-size: 1rem;
}

/* How it works section */
.land-hiw {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 5vw;
    margin: 50px auto;
}

.land-hiw-svg img {
    width: 50vw;
    min-width: 320px;
    max-width: 400px;
    max-height: 300px;
}

.land-hiw:nth-child(5) .land-hiw-svg, .land-hiw:nth-child(7) .land-hiw-svg {
    order: 2;
}
.land-hiw:nth-child(8) {
    padding-bottom: 100px;
}

.land-hiw .number {
    background: white;
    color: rgb(20, 10, 29);
    border-radius: 100%;
    padding: 20px;
    font-size: 25px;
    line-height: 15px;
    width: 15px;
    height: 15px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

@media screen and (max-width:700px) {
    .land-hiw {
        flex-direction: column;
    }
    .land-hiw:nth-child(4) .land-hiw-svg, .land-hiw:nth-child(6) .land-hiw-svg {
        order: 2;
    }
}