/* Dashboard side nav bar */
.dash-side {
    text-align: center;
    position: fixed;
    z-index: 9999;
    background: linear-gradient(315deg, #874FF5 10%, #2C60F5 50%, #874FF5 90%);
    background-size: 200%;
    background-position: left;
    animation: rotatingBg 4s infinite alternate;
    right: 100%;
    animation-timing-function: ease;
    transition-duration: 1s;
    transition-delay: .4s;
    top: 0;
}
.dash-side.active {
    right: 0%;
    transition-delay: 0s;
}
@keyframes rotatingBg {
    0% {background-position: left;}
    100% {background-position: right;}
}
.dash-side-container {
    background: #0c0b10;
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 100%;
    transition-delay: .2s;
    transition-timing-function: cubic-bezier(.77, 0, .175, 1);
    transition-duration: 1s;
    overflow: auto;
}
.dash-side.active .dash-side-container {
    right: 0%;
    transition-delay: 0s;
}
.slideLeft {
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.slideRight {
    animation: slideLeft 1s 0s cubic-bezier(.77,.46,.47,.87) reverse;
}
@keyframes slideLeft {
    0% {right: 100%;}
    100% {right: 0%;}
}
.dash-li {
    margin: auto;
}
.dash-li li img {
    height: 40px;
}
.dash-li li {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 60px auto;
}
.dash-li ul {
    padding-inline-start: 0;
}
.dash-li li:hover::before {
    background-color: blueviolet;
    transform: translateX(0px);
}

.dash-profile {
    margin: 100px auto 0 auto;
}
.dash-profile .btn {
    transform: scale(.7);
    /* opacity: .4; */
    transition: .5s;
    margin: 20px auto;
}
.dash-profile .btn:hover {
    opacity: 1;
}
.copyright {
    opacity: .5;
    transition: .5s;
}
.copyright:hover {
    opacity: 1;
}

/* Top nav bar */
.dash-nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100vw;
    background: #0c0b1046;
}

.dash-nav-icon {
    height: 16px;
    width: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 20px;
}
.dash-nav-icon:hover span,.dash-nav-icon:hover span::before, .dash-nav-icon:hover span::after {
    width: 100%;
}
.dash-nav-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: auto;
    transition: .5s ease;
}
.dash-nav-icon span.active {
    width: 0%;
}
.dash-nav-icon span::before, .dash-nav-icon span::after {
    width: 50%;
    height: 2px;
    position: absolute;
    background-color: white;
    content: '';
    transition: .5s ease;
}
.dash-nav-icon span::before {
    top: 0;
    right: 0;
}
.dash-nav-icon span::after {
    bottom: 0;
    left: 0;
}
.dash-nav-icon span.active::before, .dash-nav-icon span.active::after {
    width: 100%;
}
.dash-nav-icon span.active::before {
    top: 50%;
    right: 0;
    transform: rotate(45deg);
}
.dash-nav-icon span.active::after {
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
}
.dash-nav-icon p {
    position: absolute;
    left: 40px;
    transition: .2s ease;
    transition-delay: .5s;
}
.dash-nav-icon p.active {
    opacity: 0;
}

.dash-nav .logo img {
    height: 80px;
}
.dash-nav .logo img.scrolled-icon {
    height: 60px;
}
.dash-nav .logo {
    display: flex;
    align-items: center;
}

.nav-spacer {
    width: 60px;
}

@media only screen and (max-width: 600px) {
    .nav-spacer {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .dash-nav .logo img, .dash-nav .logo img.scrolled-icon {
        height: 50px;
    }
}